<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Coin Flip</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>COIN FLIP</h1>
		<button type="button" id="heads" value="heads">heads</button>
		<button type="button" id="tails" value="tails">tails</button>
		<p id="choiceMessage"></p>
		<p id="coinface"></p>
		<p id="result"></p>
		<p id="checkWin"></p>


		
		<script type="text/javascript" src="main.js">
		
		</script>
	</body>
</html>
